<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>卡券列表</title>
</head>
<head th:include="include :: header"></head>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
<body>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">
                卡券详情
            </h4>
        </a>
        <a href="https://ssl.zjxpp.com/xmobius/10010/localcard/localcard_photoapply.html?channel=owcn8w&product=2" class="list-group-item">
            <h4 class="list-group-item-heading">
                联通卡券
            </h4>
            <p class="list-group-item-text">
                您将通过网页进行在线选号
            </p>
        </a>
        <a href="https://ssl.zjxpp.com/webService/urlController?m=getUrl&uid=1002" class="list-group-item">
            <h4 class="list-group-item-heading">
                拼多多红包
            </h4>
            <p class="list-group-item-text">
                拼多多红包
            </p>
        </a>
        <a href="https://ssl.zjxpp.com/1500gifts/index.aspx?winType=WJ1905WGL" class="list-group-item">
            <h4 class="list-group-item-heading">
                华尔街英语微课堂
            </h4>
            <p class="list-group-item-text">
                华尔街英语微课堂
            </p>
        </a>
    </div>
</body>
</html>